<h1>Conclave</h1>
<p>Student: <%= @conclave.apprentice.name %></p>
<p>Professor: <%= @conclave.professor.name %></p>
<p>Location: <%= @conclave.location %></p>
<p>Subject: <%= @conclave.professor.subject.name %></p>
<p>Date: <%= @conclave.date.strftime("%B %d, %Y") %></p>
<p>Time: <%= "#{@conclave.begin_time.strftime("%I:%M %p")} - #{@conclave.finish_time.strftime("%I:%M %p")}" %></p>
<p>Location: <%= @conclave.location %></p>

<% if @conclave.feedback %>
    <p>Feedback: <%= @conclave.feedback %></p>
<% end %>

<% if current_user == @conclave.professor %>
    <%= button_to "Leave Feedback", edit_conclave_path(@conclave), method: :get, class: "button" %>
<% end %>

<%= button_to "Back", current_user, method: :get, class: "button" %>
