<!DOCTYPE html>
<html>
  <head>
    <title>MagicTutoring</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>
  <body>
    <ul class="nav">
      <% if current_user && current_user.class == Apprentice %>
        <li><a><%= link_to "WELCOME!", welcome_path %></a></li>
        <li><a><%= link_to "WRITING DESK", apprentice_path(current_user) %></a></li>
        <li><a><%= link_to "DEPART", logout_path, method: "post", data: { confirm: "Have you finished your studies?" } %></a></li>
        <%= render "/layouts/nav" %>
      <% elsif current_user && current_user.class == Professor %>
        <li><a><%= link_to "WELCOME!", welcome_path %></a></li>
        <li><a><%= link_to "WRITING DESK", professor_path(current_user) %></a></li>
        <li><a><%= link_to "DEPART", logout_path, method: "post" %></a></li>
        <%= render "/layouts/nav" %>
      <% else %>
        <li><a><%= link_to "WELCOME!", welcome_path %></a></li>
        <li><a><%= link_to "RETURN", new_session_path %></a></li>
        <li><a><%= link_to "ENROLL", intermediate_path %></a></li>
        <%= render "/layouts/nav" %>
      <% end %>
    </ul class="nav">
    <%= yield %>
  </body>
</html>
