<h1><%= @subject.name %></h1>
<br>
<div class="container">
  <div class='imag'>
    <%= image_tag (@subject.subject_image) %>
    <br>
  </div>
  <div>
    <h2>Description:</h2>
    <h3><%= @subject.description %></h3>
    <div>
      <% if flash[:danger]%>
        <p class="danger"><%= flash[:danger] %></p>
      <% end %>
      <% if current_user.class == Apprentice %>
        <h3><%= button_to "Add this subject", apprentice_subjects_path(@subject), method: :post, class: "button" %></h3>
      <% else %>
        <h3><%= link_to "Enroll", new_apprentice_path, class: "links" %> as an Apprentice to study this subject</h3>
      <% end %>
      <br>
    </div>
      <% unless @subject.professors.empty? %>
      <h3> Taught by: </h3>
      <ul><% @subject.professors.each do |prof| %>
          <li><%= link_to prof.name, prof, class: "links"%></li>
          <% end %>
        <% end %>
        <br>
      <%= button_to "View all Subjects", subjects_path, method: :get, class: "button-sub" %>
      </ul>
      <br>
  </div>
  <br>
</div>
