<h1><%= @subject.name %></h1>
<br>
<h3>Description: <%= @subject.description %></h3>
<br>
<br>
<% if current_user.class == Apprentice %>
<h3><%= button_to "Add this subject", apprentice_subjects_path(@subject), method: :post %></h3>
<% else %>
<h3><%= link_to "Enroll", new_apprentice_path %> as an Apprentice to study this subject</h3>
<% end %>

<br>
<h3>Taught by: </h3>
    <ul><% @subject.professors.each do |prof| %><br>
        <li><%= link_to prof.name, prof %></li>
        <% end %>
    </ul>
                
<%= link_to "View all Subjects", subjects_path %>