<div>
<h1><%= @professor.name %>
    <%= image_tag (@professor.professor_house), class: "house-icon" %></h1>
</div>
<div class="prof-stuff">
  <div>
    <%= image_tag (@professor.professor_image), class: "prof-image" %>
    <%= button_to "Edit Profile", edit_professor_path(@professor), class: "prof-button", method: :get if @professor == current_user %>
  </div>
  <div>
    <h3>House: <%= @professor.house %></h3>
    <h3>Proficiency: <%= link_to @professor.subject.name, subject_path(@professor.subject) %></h3>
    <h3>Course Description: <br><%= @professor.subject.description %></h3>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<%= button_to "Manage Availability", new_professor_availability_path(@professor), class: "button", method: :get if @professor == current_user %>
<br>
<% if current_user == @professor %>
  <h2>Conclaves</h2>
  <br>
  <br>
  <%= render "conclaves/schedule" %>
<% end %>
