<h1><%= @professor.name %></h1>
    <ul>
    <h3>Proficiency: <%= @professor.subject.name %></h3>
    <h3>House: <%= @professor.house %></h3>
    <h3>Availability: <%= @professor.availability %></h3>
    <%#<h3>Conclaves: <%= @professor.conclaves %></h3>

    </ul>



