<% if @apprentice.errors.any? %>
  <ul>
    <% @apprentice.errors.full_messages.each do |m|%>
      <li class="danger"><%= m %></li>
    <% end%>
  </ul>
<% end %>
<%= form_for @apprentice do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :house %><br>
  <%= f.collection_select :house, @houses, :to_s, :to_s %><br>
  <%= f.label :year %><br>
  <%= f.collection_select :year, ["1", "2", "3","4", "5", "6", "7"], :to_s, :to_s %> <br>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.label :confirm_password %><br>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit %>
<% end %>
