<h1><%= @apprentice.name %></h1>
<%= image_tag ("site/writingdesk.jpg"), class: "writing-desk" %>
<h3>School Year: <%= @apprentice.year %></h3>
<h3>Username: <%= @apprentice.username %></h3>
<h3>House: <%= @apprentice.house %></h3>
<h3> To schedule a conclave: </h3>
<ul>
  <% @apprentice.subjects.each do |sub| %>
    <li><%= link_to sub.name, new_conclave_path(sub) %></li>
  <% end %>
</ul>
<%= button_to 'Edit Apprentice', edit_apprentice_path(@apprentice), method: :get, class: "button" %>
